
*{
    font-family:'Poppins', sans-serif;
    margin: 0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background-color:white ;
}
html::-webkit-scrollbar-thumb{
    background-color:rgb(236, 179, 9);
}

body{
    background: white;
}
.header{
    position: relative;
}
.image_header img{
    object-fit: cover;
    width: 100%;
}

.header_nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    left: 0;
    padding: 0 20px;
    right: 0px;
    margin-top: 2rem;
}

.header_nav .feane h6{
    position: relative;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 100;
   float: right;
}
.header_nav .navBar{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header_nav .navBar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
}
.header_nav .navBar a:hover{
    color: orange;
}

.icone img{
    width: 20px;
    height: 20px;
    margin: O 20px;
}
.icone img:hover{
    background: orange;
}
.header_nav  .button_header button{
    background: orange;
    width: 8rem;
    height: 2rem;
    border-radius: 25px;
    color: white;
    position: relative;
    right:10rem;
}


.sub_header{
    position: absolute;
    display: flex;
    flex-direction: column;

}
.sub_header .sub_header_title{
    position: absolute;
    font-size: 2rem;
    padding-bottom: 3px;
    bottom: 600px;
    height: 100%;
    padding-top: 30px;
    padding-left: 140px;
}
.sub_header  .sub_header_title h2{
    color: white;
    font-size: 50px;
   
}

.sub_header .emblem{
    color: white;
    font-size: 10px;
    line-height: 15px;
    padding:  15px 0;
}

.sub_header button{
    width: 50%;
    background: rgb(224, 166, 58);
    height: 30px;
    color: white;
    border-radius: 25px;

}
.sub_header .boule {
    display: flex;
    justify-content: normal;
    padding: 0 10px;
    top: 96px;
    position: relative;
   
}
.sub_header .boule .b{
    background: white;
    width: 20px;
    height: 20px;
    padding: 0 10px;
    margin: 0 4px;
    border-radius: 50px;
}
.sub_header .boule .b:hover{
    background: orange;
}

 .menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
 .menu .card{
    position: relative;
    top: 70px;
   display: flex;
   align-items: center;
   background: rgb(4, 4, 73);
    width: 40rem;
    height: 20rem;
  
}
 .image_card img{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid orange;
    left: 20px;
}

.menu .card .info-menu{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 60px;
}
.menu .card .info-menu h6{
    color: white;
    font-size: 30px;
    padding: 10px 0;
}
.menu .card .info-menu p{
    color: white;
    font-size: 30px;
    padding: 15px 0;
}
.menu .card .info-menu span{
    font-size: 15px;
}
.menu .card .info-menu button{
    background: orange;
    width: 100%;
    height: 40px;
    border-radius: 50px;

}
.menu .card .info-menu img{
    width: 10x;
    height: 10px;
    margin-left: 40px;
}

.menu-card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-card .menu-block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.menu-card .menu-block .title{
    text-align: center;
    font-size: 2rem;
    color: rgb(17, 16, 16);
    font-weight: 300;
    margin-top: 8rem;
}

.menu-card .menu-block .menu-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;

}

.menu-card .menu-block .menu-list li{
   margin: 0 25px;
    list-style: none;
    font-weight: 100;
    font-size: 1rem;
}
 .menu-list li .osd{
    background: black;
    color: white;
    width: 10rem;
    height: 5rem;
    border-radius: 25px;
}

.box-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.box-container .box{ 
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;

}
.box .haut{
    background: rgb(82, 38, 38);
    height: 50vh;
    border-radius: 100px 100px 100px  ;
}
.box .bas{
    background: black;
    height: 60vh;
}
.box-container .box img{
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    object-position: center;
}

.box-container .box h2{
    color: white;
    font-size: 2rem;
}
.box-container .box p{
    color: white;
    font-weight: 100;
    line-height: 1;
    font-size: 1rem;
    padding-top: 4rem;
}